.App {
  min-height: 100vh;
  height: fit-content;
  padding: 1rem 2rem;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.App main {
  text-align: center;
}

.App button {
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 1em;
  cursor: pointer;
  border: 0;
  background-color: royalblue;
  color: white;
}

.App .captureBtn {
  background-color: royalblue;
  color: white;
}

.App .removeBtn {
  background-color: tomato;
  color: white;
  margin-left: 10px;
}

.App aside .image-preview {
  width: 500px;
  height: 300px;
  background-color: whitesmoke;
  position: relative;
  border: 1px solid gray;
  border-style: dashed;
}

.image-preview::after {
  content: "Image Preview";
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  letter-spacing: 3px;
  color: gray;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}
